			<div class="col-lg-4 offset-lg-1 col-md-10 offset-md-1 col-sm-12 col-12">
				<div class="card login-form">
					<h4>Sohbet Giriş Menüsü</h4>
                                       <form action="https://www.superalem.org/sohbet/" method="post">
                                       <form action="https://www.superalem.org" method="post">
					<div class="form-group col-lg-10 offset-lg-1">
						<input type="text" name="nickname"  class="form-control" id="kullanici" placeholder="Kullanıcı Adınız" required="">
						<svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<p>Birçok sohbet sitesinin özellikle de internet sitemizin mobil sürümü sayesinde arkadaş bulmak konusunda masa üstü bilgisayarlara bağımlılıktan kurtulmuş sayılırsınız. Mobil sürümlerin kullanım kolaylığı da dikkate alındığında internet sitemizdeki sohbet odalarından istediğinize giriş yaparak kısa sürede birçok insanla tanışabilir ve yakın arkadaşlıklar kurabilirsiniz.</p> 
<br>
<br>    
<a href="https://www.igneada.net">https://www.igneada.net</a> <a href="https://www.turksohbet.com">https://www.turksohbet.com</a> <a href="https://www.sohbetci.net">https://www.sohbetci.net</a> 
</div> 
</body>
</html>
